<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>

  <% if (!post ) { %>
  <h1>No post with that Id</h1>

  <% } else { %>
  <h1>
    <%= post.title%>
  </h1>
  <%= post.body %>
  <%= post.createdAt %>
  <%= post.user.name %>
  <h2>Leave a comment</h2>
  <% } %>
</body>

</html>