<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
  <%  if (username) { %>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/blog/<%=username%>">Your Blog</a></li>
      <li><a href="/blog">See all posts</a></li>


    </ul>
  </nav>
  <% } else { %>
  <nav>
    <ul>
      <li><a href="/blog">See all posts</a></li>
    </ul>
  </nav>
  <% }  %>

  <h1>Create a new post </h1>

  <form method="POST" action="/create-post" id="newPost">
    <input type="text" placeholder="Title" name="title" autocomplete="off">
    <textarea type="text" placeholder="Write something here" name="newPostBody" form="newPost" autocomplete="off"></textarea>
    <button type="submit" class="nice">Publish </button>
  </form>

</body>

</html>