<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
  <h3>
    <%= message %>
  </h3>

  <h1>Sign up or login</h1>
  <form method="POST" action="/login">
    <input type="text" placeholder="Your name" name="name" autocomplete="off">
    <input type="text" placeholder="Your email" name="email" autocomplete="off">
    <input type="text" placeholder="Your password" name="password" autocomplete="off">
    <button type="submit" class="nice">Submit</button>
  </form>


</body>

</html>