<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
  <h3>
    <%= message %>
  </h3>
  <h1>Login </h1>
  <p>Enter your details below</p>
  <form method="POST" action="/login">

    <input type="email" placeholder="Your email" name="email" autocomplete="off" required>
    <input type="password" placeholder="Your password" name="password" autocomplete="off" required>
    <button type="submit" class="nice">Login</button>
  </form>
  <div class="actions">
    <p>Don't have an account?</p>
    <a href="/signup">Sign up instead</a>
  </div>

</body>

</html>