<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>

  <h1>Sign up </h1>
  <p>Enter your details below, all fields are required .</p>
  <form method="POST" action="/signup">
    <input type="text" placeholder="Your username" name="username" autocomplete="off">
    <input type="text" placeholder="Your email" name="email" autocomplete="off">
    <input type="password" placeholder="Your password" name="password" autocomplete="off">
    <h3 class="red">
      <%= error %>
    </h3>
    <button type="submit" class="nice">Sign me up!</button>
  </form>
  <div class="actions">
    <p>Already have an account?</p>
    <a href="/">Log in!</a>
  </div>

</body>

</html>